.main{
  #welcome{
    background: url('../images/main.jpg') center 70% no-repeat no-repeat;
    background-size: cover;

    .welcome-container{
      width: 100%;
      height: 100%;
      background-color: rgba(76, 50, 0, 0.4);
    }

    .hello, .work{
      width: 100%;
      position: absolute;
      text-align: center;
    }

    .hello{
      top: 50%;
      margin-top: -80px;

      .i-am{
        font-size: 60px;
      }

      .portfolio{
        font-size: 36px;
      }
    }

    .work{
      bottom: 12%;
      font-size: 36px;
    }

    .links{
      margin-top: 25px;

      a{
        display: inline-block;
        width: 290px;
        padding: 15px;
        position: relative;
        text-align: center;
        border: 3px solid white;
        border-radius: 30px;

        font-size: 24px;
        font-weight: 700;
        line-height: 18px;

        &:hover{
          color: @orange;
          border-color: @orange;
          text-decoration: none;
        }



        &.toPhoto{
          margin-right: 40px;

        }

        &.toIt i{
          right: 20px;
        }
      }
    }
  }

  #about-me{
    display: table;
    padding-top: 50px;

    .frame-align{
      padding: 0 80px;
    }

    img.me{
      width: 100%;
      border-radius: 50%;
      display: table-cell;
      vertical-align: middle;
    }

    .text-container{
      width: 100%;
      overflow: hidden;
    }

    .image-container{
      display: table;
    }

    .quote{
      width: 80%;
      margin: 5% auto;
      text-align: center;
      font-size: 30px;

      .author{
        text-align: right;
        font-size: 18px;
      }
    }
  }

  #choice{
    background: url('../images/darth_vader.jpg') center center no-repeat no-repeat;
    background-size: cover;

    .dark{
      color: #bd1919;
    }

    .frame-overlay{
      background-color: rgba(0, 0, 0, 0.7);
    }

    .frame-align > div{
      text-align: center;
    }

    a{
      display: inline-block;
      position: relative;

      .choice-image{
        display: inline-block;
        position: relative;
      }

      .overlay{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;

        display: none;

        .overlay-align{
          width: 100%;
          height: 100%;
          display: table;
        }

        .overlay-text{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 45px;
        }
      }

      &:hover .overlay{
        display: block;
      }

      .arrow-left-big, .arrow-right-big{
        position: absolute;
        top: 50%;
        margin-top: -65px;
      }

      &.toPhoto {
        padding-left: 60px;

        .arrow-left-big{
          left: -60px;
        }
      }

      &.toIt {
        padding-right: 60px;

        .arrow-right-big{
          right: -60px;
        }
      }
    }
  }

  #contact{
    text-align: center;

    h2{
      margin-top: 8%;
    }

    .contact-details{
      margin-top: 6.5%;
      font-size: 36px;
      line-height: 60px;
    }

    .networks{
      margin-top: 5%;

      a{
        display: inline-block;
        margin-right: 20px;

        &:last-child{
          margin-right: 0;
        }
      }
    }

    .footer{
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
    }
  }
}