@media all and (min-width: 1500px){
  .main {
    .welcome {
      .hello .i-am {
        font-size: 85px;
      }
    }

    .about-me{
      padding: 0 100px;

      h2{
        margin-bottom: 100px;
      }

      .img-container{
        width: 25%;
        margin-right: 5%;
      }

      .text{
        width: 70%;
      }

      .quote{
        display: block;
      }
    }

  .choice{
    h2{
      margin-bottom: 150px;
    }
  }

    .contact {
      .contact-details {
        margin-top: 100px;
      }

      .networks {
        margin-top: 100px;
      }
    }
  }

  .it{
    .project-container h2{
      margin-bottom: 40px;
    }
  }
}