@media all and (min-width: 1500px){
  .wrapper{
    width: 80%;
  }

  h2{
    margin-bottom: 30px;
  }

  .main {
    .welcome {
      .hello .i-am {
        font-size: 85px;
      }
    }

    .experiences{
      h3{
        text-align: left;
      }
    }

    .about-me{
      .img-container{
        width: 25%;
        margin-right: 5%;
      }

      .text{
        width: 70%;
      }

      .quote{
        display: block;
      }
    }

  .choice{
    h2{
      margin-bottom: 100px;
    }
  }

    .contact {
      .contact-details {
        margin-top: 100px;
      }

      .networks {
        margin-top: 100px;
      }
    }
  }

  .it{
    .project-container h2{
      margin-bottom: 40px;
    }

    .reference .more{
      display: inline;
    }
  }
}

@media all and (min-width: 1750px) {
  .wrapper{
    width: 75%;
  }

  h2{
    margin-bottom: 60px;
  }

  .main {

    .choice{
      h2{
        margin-bottom: 150px;
      }
    }
  }
}