@media screen and (max-width: 1050px) {
  nav {
    & > .logo, .back {
      margin-left: 10px;
    }

    ul#menu li {
      margin-right: 30px;
    }
  }

  .main nav > .logo {
    margin-left: 35px;
  }
}


@media screen and (max-width: 1024px) {
  nav {
    box-shadow: 0 -31px 42px 31px rgba(0,0,0,0.6);
    background-color: rgba(0, 0, 0, 0.6);

    &.white {
      background-color: @orange;
      .nav-toggle{
        color: @white;
      }

      .logo{
        background-position: right center;
      }

      ul#menu li{
        a{
          color: @white;
        }
      }
    }

    &.orange {
      background-color: @white;

      .nav-toggle{
        color: @orange;
      }

      .logo{
        background-position: left center;
      }

      .arrow-left{
        background-position: -2px -74px ;
      }

      ul#menu li{
        a{
          color: @orange;
        }

        &.active a, a:hover, a:focus {
          color: @orange;
          border-top-color: @orange;
        }
      }
    }
  }

  .frame:not(.choice):not(.welcome), .frame.choice .frame-overlay{
    padding: 60px 0;
  }

  .frame.pt .fp-tableCell{
    padding-top: 0;
  }
}

@navbar-collapse: 857px;
@media screen and (max-width: @navbar-collapse) {
  nav {
    & > .logo, .back {
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .menu-container{
      width: 100%;


      ul#menu{
        display: none;
        padding-bottom: 20px;

        li{
          width: 50%;
          text-align: center;
          margin-right: 0;
          margin-top: 10px;

          a:hover, &.active a{
            padding: 10px 15px;
            border-radius: 5px;
            border: 3px solid @orange;
          }
        }
      }
      &.nav-collapse ul#menu{
        display: block;
      }
    }
  }

  nav.white ul#menu li a:hover, nav.white ul#menu li.active a{
    border-color: @white;
    color: @white;
  }


  .frame:not(.choice, .welcome), .frame.choice .frame-overlay{
    padding: 60px 0;
  }
}

@media screen and (min-width: @navbar-collapse) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


@media screen and (max-width: 450px) {
  nav {
    .menu-container{
      ul#menu li{
        width: 100%;
      }
    }
  }

  .main .welcome .hello .i-am .adam{
    display: block;
  }
}

@media screen and (max-width: @screen-sm-max) {
  .wrapper{
    width: 100%;
    padding: 0 20px;
  }

  *[class^="col-"]{
    padding-left: 0;
    padding-right: 0;
  }
  
  .choice{
    .frame-align{
      padding: 0 20px;
    }
  }

  .main .frame.choice{

    .frame-align{
      display: block;
    }

    a.toPhoto, a.toIt{
      &.toPhoto {
        padding-left: 0;
        margin-bottom: 30px;
      }

      &.toIt {
        padding-right: 0;
      }
      .arrow-left-big, .arrow-right-big{
        display: none;
      }

      .overlay{
        display: block;
      }
    }
  }

  .main .experiences{
    .small-container{
      text-align: center;
    }

    ul{
      display: inline-block;

      ul{
        display: block;
      }
    }

    li{
      text-align: left;
    }
  }

  .it .references{
    .reference{
      text-align: left;
      font-size: 18px;

      img{
        max-width: 50%;
      }

      .description{
        bottom: 0;
        left: 50%;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  h2{
    font-size: @font-size-h2 - 10;
  }
  .main .frame.choice a.toIt .overlay .overlay-text, .main .frame.choice a.toPhoto .overlay .overlay-text{
    font-size: 33px;
  }
  .main{
    .welcome{
      .hello{
        top: 30%;
        margin-top: -20px;

        .i-am{
          font-size: 40px;
        }

        .portfolio{
          font-size: 24px;
        }
      }

      .work{
        bottom: 12%;
        font-size: 24px;
      }

      .links .btn{
        font-size: 20px;

        &.toPhoto{
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    .about-me{
      .text-container{
        display: block;
      }

      .image-container, .text{
        display: block;
        float: none;
      }

      .image-container{
        text-align: center;

        img{
          max-width: 250px;
        }
      }

      .text{
        margin-bottom: 20px;
      }
    }

    .small-container{
      width: 100%;

      & > div{
        padding-left: 0;
        padding-right: 0;
      }
    }

    .experiences ul{
      padding-left: 17px;
    }

    .choice{
      h2{
        font-size: 34px;
      }
    }

    .contact .contact-details{
      font-size: 25px;
    }
  }

  .it{
    .it-skills .collage-container{
      display: none;
    }
  }
}

@media screen and (max-width: 740px) {
  .it {
    .project-container, .project-container.reversed {
      .column, .column:first-child, .column:last-child {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
      }

      .column.reversed {
        direction: ltr;
      }

      .column:last-child {
        margin-top: 30px;
      }
    }

    .references {
        .reference {
          text-align: center;
          height: auto;

          img{
            max-width: 100%;
            max-height: 250px;
          }

          .description {
            position: static;
            width: 100%;
            height: auto;
            padding: 20px 10px;

            .more{
              display: inline;
            }
          }
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  .wrapper {
    width: 90%;
  }

  h2 {
    font-size: @font-size-h2 + 10;
  }


  .it .reference{
    font-size: 16px;
  }
}

@media screen and (min-width: 1500px) {
  .wrapper {
    width: 80%;
  }

  h2 {
    margin-bottom: 30px;
  }

  .main {
    .welcome {
      .hello .i-am {
        font-size: 85px;
      }
    }

    .experiences {
      h3 {
        text-align: left;
      }
    }

    .about-me {
      .img-container {
        width: 25%;
        margin-right: 5%;
      }

      .text {
        width: 70%;
      }

      .quote {
        display: block;
      }
    }

    .choice {
      h2 {
        margin-bottom: 100px;
      }
    }

    .contact {
      .contact-details {
        margin-top: 100px;
      }

      .networks {
        margin-top: 100px;
      }
    }
  }

  .it {
    .project-container h2 {
      margin-bottom: 40px;
    }

    .reference .more {
      display: inline;
    }
  }

  .it .reference{
    font-size: 18px;
  }
}

@media screen and (min-width: 1750px) {
  .wrapper {
    width: 75%;
  }

  h2 {
    margin-bottom: 60px;
  }

  .main {

    .choice {
      h2 {
        margin-bottom: 150px;
      }
    }
  }
}