/////////////////////////////
// Adam-Uhlir.ME variables //
/////////////////////////////

// Colors
@white: #fff;
@orange: #F9A40D;


// Bootstrap
@body-bg: @orange;
@text-color: @white;
@link-color: @white;
@font-family-base: Comfortaa, "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-base: 18px;
@font-size-h2: 60px;